project:
  type: website
  output-dir: docs

website:
  title: "CStories.app"
  google-analytics: "G-9Z3CG75J46"
  navbar:
    left:
      - apps.qmd
      - workshops.qmd
    right:
      - about.qmd

format:
  html:
    theme:
      light: [flatly, flatly.scss]
      dark: [darkly, darkly.scss]
    toc: true

editor: source

