project:
  type: website
  output-dir: _site
  resources:
    - "/.nojekyll"
    - "/infographics/lib/_info_header.html"
    - "/infographics/lib/_info_modal.html"
    - "/infographics/lib/infographiq.css"
    - "/infographics/lib/infographiq.js"
    - "/infographics/icon_links.csv"
    - "/infographics/info1.svg"
    - "/infographics/info1_modals/*"
    - "/infographics/cetaceans.svg"
    - "/infographics/cetacean_modals/*"
    - "/images/infographic/*"

website:
  title: "CStories.app"
  google-analytics: "G-9Z3CG75J46"
  navbar:
    left:
      - apps.qmd
      - infographics.qmd
      - workshops.qmd
    right:
      - about.qmd

format:
  html:
    theme:
      light: [flatly, flatly.scss]
      dark: [darkly, darkly.scss]
    toc: true
    comments:
      hypothesis:
        showHighlights: false
    execute:
      echo: false
      warning: false

editor: source
