project:
  type: website
  output-dir: _site
  resources:
    - "/.nojekyll"

website:
  title: "CStories.app"
  google-analytics: "G-9Z3CG75J46"
  navbar:
    left:
      - apps.qmd
      - workshops.qmd
    right:
      - about.qmd
  search:
    location: navbar
    type: overlay

format:
  html:
    theme:
      light: spacelab # [flatly, flatly.scss]
      dark: slate # superhero # [darkly, darkly.scss]
    toc: true
    comments:
      hypothesis:
        showHighlights: false
    execute:
      echo: false
      warning: false

editor: source
